

body, html, main {
    /* important */
    height: 100%;
}

/* === CSS Transitions === */
@keyframes fadeInAnim {
    from { opacity: 0; }
    to { opacity: 100; }
}
@keyframes fadeInAnimNav {
    from { opacity: 0; }
    to { opacity: 90; }
}
@keyframes fadeOutAnim {
    to { opacity: 0; }
}

.fadeIn {
    display: block !important;
    animation: fadeInAnim .5s ease both;
}
.fadeOut {
    animation: fadeOutAnim .5s ease both !important;
}

.fadeInLoadNav {
    display: block !important;


    /*animation-delay: 1s !important;
    animation: fadeInAnimNav 1s ease both !important;*/

    opacity: 0.9 !important;
}
.fadeInLoad {
    animation: fadeInAnim 2s ease both;
}

/* === NAVIGATION AREA === */
.navbar-default {
    display: none;
    background-color: #efcf02;
    border-color: #fff;
    border-radius: 0px;

    opacity: 0.9 !important;
}

.navbar-brand {
    padding: 3px;
}

.navbar-brand > img{
    width: 80px;

    border: 2px solid white;
    border-radius: 2px;
}

/* === PAGE BLOCKS === */

.vm-bg-ctn {
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;

    vertical-align: middle;
    text-align: center;

    /*padding: 100px 0px 30px 0px;*/
}

.vm-ctn {
    position: relative;
    min-height: 100%;
}

.vm-container {
    /*text-align: center;*/
    background-color: rgba(124, 124, 124, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    padding: 5px;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.vm-container > .heading {

    color: #fff;

    font-size: 32pt;
    font-weight: 300;

    margin-bottom: 30px;
}

/* === TESTING AREA === */

.vm-test {
    background-color: rgba(228, 228, 228, 0.8);

    /*top: 55%;*/

    display: none;
    width: 95%;
    /*width: 70%;*/
    /*min-height: 80%;*/

    border-radius: 10px;

    /*padding: 20px;*/
    padding: 0px;

    color: #1f1f1f;

    text-align: left;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .vm-test {
        width: 80%;
    }
}
@media (min-width: 1200px) {
    .vm-test {
        width: 50%;
    }
}

/*#q2 {
    transform: translateY(-100%);
}*/

.vm-question .vm-qst-head  h2 {
    font-weight: 300;
    margin: 0px;
}
.vm-question .vm-qst-head {
    background-color: rgba(238, 207, 2, 0.8);
    border-bottom: 1px solid rgb(144, 144, 144);

    padding: 15px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    color: #494949;
}

.vm-question .vm-qst-body {

    font-size: 18pt;
}

.vm-question .vm-qst-body > .vm-ans-span {
    display: block;
    font-weight: 300;
    padding: 10px 20px 10px 20px;
    /*margin-bottom: 10px !important;*/

    border-bottom: 1px solid rgb(167, 167, 167);
}

.vm-question .vm-qst-footer {
    background-color: rgba(238, 207, 2, 0.8);
    /*border-top: 1px solid rgb(144, 144, 144);*/

    padding: 15px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    text-align: right;
}
.vm-question .vm-qst-footer > .btn-vm {
    font-size: 14pt;
    margin-bottom: 5px;

    color: #494949;
    border-color: #494949;
}
.vm-question .vm-qst-footer > .btn-vm:hover {
    color: #fff;
    border-color: #fff;
}
.vm-question .vm-qst-footer > .btn-vm:active,
.vm-question .vm-qst-footer > .btn-visited:focus,
.vm-question .vm-qst-footer > .btn-visited:visited {
    color: #919191 !important;
    border-color: #919191 !important;
}

.vm-question .vm-qst-end {
    text-align: center;

    padding: 20px;
}

.vm-question .vm-qst-end h1, .vm-question .vm-qst-end h2 {
    font-weight: 300;
}

.vm-question .vm-qst-end .vm-greeting {
    margin-top: 0px;
}
.vm-question .vm-qst-end .vm-score {
    margin-top: 80px;
}
.vm-question .vm-qst-end .vm-share-head {
    margin-top: 80px;
    margin-bottom: 20px;
}

.vm-question .vm-qst-end .vm-share {
    display: inline-block;

    padding: 14px 30px 15px 30px;
    margin-bottom: 80px;

    border-radius: 10px;

    background-color: rgba(184, 184, 184, 0.76);
}
.vm-question .vm-qst-end .vm-share > .vm-social > img{
    width: 50px;
}

/* === BUTTON STYLE === */
.btn-vm {
    background-color: rgba(0, 0, 0, 0.0);

    transition: .2s;

    color: #fff;

    font-size: 18pt;
    font-weight: 300;

    border-width: 2px;
    border-color: #fff;

    margin-bottom: 30px;

    outline: none !important;
}
.btn-vm:hover {
    background-color: rgba(0, 0, 0, 0.0);

    border-color: #efcf02;
    color: #efcf02;
}
.btn-vm:active, .btn-visited:focus, .btn-visited:visited {
    transition: .0s;

    background-color: rgba(238, 207, 2, 0.1) !important;

    border-color: rgb(238, 207, 2) !important;
    color: #efcf02 !important;
}

/* === TIMELINE === */



/* === BLOCK SPECIFIC === */

#test-1 {
    background-image: url("res/bg1.jpg");
}
#test-3 {
    background-image: url("res/bg2.jpg");
}

#test-2 {
    background-color: #efcf02;
}
