

body, html, main {
    /* important */
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

blockquote {
    border-left-color: #d6b904;
}

/* === CSS Transitions === */
@keyframes fadeInAnim {
    from { opacity: 0; }
    to { opacity: 100; }
}
@keyframes fadeInAnimNav {
    from { opacity: 0; }
    to { opacity: 90; }
}
@keyframes fadeOutAnim {
    to { opacity: 0; }
}

@keyframes shrinkLogo {
    to {transform: scale(0.5) translateY(-46%)}
}
@keyframes enlargeLogo {
    from {transform: scale(0.5) translateY(-46%)}
}

.logoShrink {
    animation: shrinkLogo .5s ease both;
}
.logoLarge {
    /*animation-delay: 2s !important;*/
    animation: enlargeLogo .5s ease both;
}

.fadeIn {
    display: block !important;
    animation: fadeInAnim .5s ease both;
}
.fadeOut {
    animation: fadeOutAnim .5s ease both !important;
}

.fadeInLoadNav {
    display: block !important;


    /*animation-delay: 1s !important;
    animation: fadeInAnimNav 1s ease both !important;*/

    opacity: 0.9 !important;
}
.fadeInLoad {
    animation: fadeInAnim 2s ease both;
}

/* === CLEARFIX === */
.clearfix {
    float: none;
    clear: none;
}

/* === NAVIGATION AREA === */
.navbar-default {
    display: none;
    background-color: #efcf02;
    border-color: #fff;
    border-radius: 0px;

    opacity: 0.9 !important;

    text-align: right;
}

.navbar-header {
    float: left;
}

.navbar-brand {
    padding: 3px;
}

.navbar-brand > img{
    width: 60px;

    border: 2px solid white;
    border-radius: 2px;
}

.vm-nav-social{
    float: right;

    padding-top: 4px;
}
.vm-nav-social img {
    margin-left: 5px;
}

/* === PAGE BLOCKS === */

.vm-bg-ctn {
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;

    vertical-align: middle;
    text-align: center;

}

.vm-ctn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100%;
}

@media (max-width: 768px) {
    .vm-bg-ctn {
        padding: 100px 0px 30px 0px;
    }
}

.vm-container {
    /*text-align: center;*/
    background-color: rgba(124, 124, 124, 0.3);

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    padding: 5px 10px 5px 10px;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.vm-container > .heading {

    color: #fff;

    font-size: 32pt;
    font-weight: 300;

    margin-bottom: 30px;
}

.vm-img {
    width: 100% !important;

    border: 2px solid #000;
    border-radius: 5px;
}

/* === TEXT BLOCKS AREA === */
.vm-ctn .vm-block-head {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.vm-ctn .vm-column {
    /*text-align: justify;*/
    /*font-size: 16pt;*/

    min-height: 450px;

    padding-left: 20px;
    padding-right: 20px;
}

.vm-cnt .vm-img {
    /*text-align: center;*/
}

.vm-ctn > .container {
    margin-bottom: 20px;
}


/* === TESTING AREA === */

.vm-test {
    background-color: rgba(228, 228, 228, 0.8);

    /*top: 55%;*/

    display: none;
    width: 95%;
    /*width: 70%;*/
    /*min-height: 80%;*/

    border-radius: 10px;

    /*padding: 20px;*/
    padding: 0px;

    color: #1f1f1f;

    text-align: left;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .vm-test {
        width: 80%;
    }
}
@media (min-width: 1200px) {
    .vm-test {
        width: 50%;
    }
}

/*#q2 {
    transform: translateY(-100%);
}*/

.vm-question .vm-qst-head  h2 {
    font-weight: 300;
    margin: 0px;
}
.vm-question .vm-qst-head {
    background-color: rgba(238, 207, 2, 0.8);
    border-bottom: 1px solid rgb(144, 144, 144);

    padding: 15px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    color: #494949;
}

.vm-question .vm-qst-body {

    font-size: 18pt;
}

.vm-question .vm-qst-body > label {
    display: block;
    font-weight: 300;
    padding: 10px 20px 10px 20px;
    /*margin-bottom: 10px !important;*/
    margin-bottom: 0px;

    border-bottom: 1px solid rgb(167, 167, 167);

    transition: .2s;
}
.vm-question .vm-qst-body > label:hover {
    cursor: pointer;
}

.vm-question .vm-qst-body > .vm-correct {
    background-color: rgba(17, 210, 0, 0.65) !important;
}
.vm-question .vm-qst-body > .vm-wrong {
    background-color: rgba(210, 0, 0, 0.65) !important;
}


.vm-question .vm-qst-body > input[type="radio"]{
    display: none;
}
.vm-question .vm-qst-body > input[type="radio"]:checked + label{
    /*background-color: rgba(223, 233, 63, 0.75);*/
    background-color: rgba(223, 233, 63, 0.75);
}
/*.vm-question .vm-qst-body > .vm-ans-span > label {
}*/

.vm-question .vm-qst-footer {
    background-color: rgba(238, 207, 2, 0.8);
    /*border-top: 1px solid rgb(144, 144, 144);*/

    padding: 15px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    text-align: right;
}
.vm-question .vm-qst-footer > .btn-vm {
    font-size: 14pt;
    margin-bottom: 5px;

    color: #494949;
    border-color: #494949;
}
.vm-question .vm-qst-footer > .btn-vm:hover {
    color: #fff;
    border-color: #fff;
}
.vm-question .vm-qst-footer > .btn-vm:active,
.vm-question .vm-qst-footer > .btn-visited:focus,
.vm-question .vm-qst-footer > .btn-visited:visited {
    color: #919191 !important;
    border-color: #919191 !important;
}

.vm-question .vm-qst-end {
    text-align: center;

    padding: 20px;
}

.vm-question .vm-qst-end h1, .vm-question .vm-qst-end h2 {
    font-weight: 300;
}

.vm-question .vm-qst-end .vm-greeting {
    margin-top: 0px;
}
.vm-question .vm-qst-end .vm-score {
    margin-top: 80px;
}
.vm-question .vm-qst-end .vm-share-head {
    margin-top: 80px;
    margin-bottom: 20px;
}

.vm-question .vm-qst-end .vm-share {
    display: inline-block;

    padding: 14px 30px 15px 30px;
    margin-bottom: 80px;

    border-radius: 10px;

    background-color: rgba(184, 184, 184, 0.76);
}
.vm-question .vm-qst-end .vm-share > .vm-social > img{
    width: 50px;
}

/* === BUTTON STYLE === */
.btn-vm {
    background-color: rgba(0, 0, 0, 0.0);

    transition: .2s;

    color: #fff;

    font-size: 18pt;
    font-weight: 300;

    border-width: 2px;
    border-color: #fff;

    margin-bottom: 30px;

    outline: none !important;
}
.btn-vm:hover {
    background-color: rgba(0, 0, 0, 0.0);

    border-color: #efcf02;
    color: #efcf02;
}
.btn-vm:active, .btn-visited:focus, .btn-visited:visited {
    transition: .0s;

    background-color: rgba(238, 207, 2, 0.1) !important;

    border-color: rgb(238, 207, 2) !important;
    color: #efcf02 !important;
}

/* === TIMELINE === */

.list-ic a {
  color: #788288;
}
.list-ic li {
  position: relative;
}
.list-ic li span {
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #18bc9c;
  color: white;
  position: relative;
}
.list-ic li::before {
  content: '';
  position: absolute;
  background: #18bc9c;
  z-index: -1;
}
.list-ic.horizontal li {
  display: inline-block;
}
.list-ic.horizontal li span {
  margin: 0 1em;
}
.list-ic.horizontal li::before {
  top: 0.9em;
  left: -25px;
  width: 4em;
  height: 0.2em;
}
.list-ic.vertical {
  padding: 0;
  margin: 0;
}
.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}
.list-ic.vertical li span {
  margin: 1.4em 0;
}
.list-ic.vertical li::before {
  top: -35px;
  left: 13px;
  width: 0.2em;
  height: 4em;
}
.list-ic li:first-child::before {
  display: none;
}
.list-ic .active {
  background: dodgerblue;
}
.list-ic .active ~ li {
  background: lightblue;
}
.list-ic .active ~ li::before {
  background: lightblue;
}

.vm-progress {
    /*float: left;*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.vm-progress li {
    float: left;

    margin-left: 2px;
    font-size: 36pt;
}
.vm-progress li::after {
    content: "•";
    color: white;
}


/* === BLOCK SPECIFIC === */

#block-1 {
    background-image: url("res/bg1.jpg");
}
#block-3 {
    background-image: url("res/bg5.jpg");
}
#block-5 {
    background-image: url("res/bg3.jpg");
}
#block-5 .btn-vm {
    margin-top: 30px;
}

#block-2, #block-4 {
    background-color: #efcf02;
}

#block-4 .container {
    margin-top: 20px;
    margin-bottom: 20px;
}
#block-4 p{
    text-align: justify;
}
#block-4 {
    text-align: center;
}
